<div class="container-fluid page-container" id="work-page-container">
  <div class="container d-flex flex-column gap-4">
    <h2 class="page-title">Work Experience</h2>

    <div class="work-card primary-container">
      <h4 class="company-name">Iquall Networks</h4>

      <div class="period">
        <h6 class="position">Software Engineering</h6>
        <h6 class="period-header">September 2023 - Present</h6>
        <div class="period-content">
          <ul>
            <li>Scripting in PHP</li>
            <li>Front-end development in HTML, CSS, Vanilla Javascript and React</li>
            <li>Performance optimizations in a SMS processing system
              <ul>
                <li>Concurrent backend developing in C++ and Java</li>
                <li>Performance testing</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="work-card primary-container">
      <h4 class="company-name">ABTIO S.A</h4>

      <div class="period">
        <h6 class="position">Software Developer</h6>
        <h6 class="period-header">March 2023 - August 2023</h6>
        <div class="period-content">
          <ul>
            <li>Automation app development in .NET</li>
            <li>Selenium & UI Automation</li>
            <li>Web developing for scheduling executions via API
              <ul>
                <li>Spring Back-end development</li>
                <li>CSS & Vanilla Javascript Front-end development </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="period">
        <h6 class="position">Trainee Technical Consultant</h6>
        <h6 class="period-header">January 2023 - March 2023</h6>
        <div class="period-content">
          <ul>
            <li>Traning in Oracle Peoplesoft</li>
            <li>Development of Peoplesoft components in Application Designer</li>
            <li>Oracle SQL Database Managing</li>
            <li>Process automation and report generation</li>
            <li>Environment Migrations</li>
            <li>Technical Support to customers</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
