@import "main";
.work-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
}
.company-name,.period-header{
  color: $secondary;
}
.period-header{
  font-weight: 400;
}
.period-content{
  font-weight: 300;
}
