@import 'main';

#skill-cards-container{
  margin:auto;
}
#skill-cards {
  .row{
    width: auto;
  }
  .col{
    //height: 17rem;
    padding: 0.8rem;
  }
  .primary-container{
    height: 100%;
    justify-content: flex-start;
  }
}

h4.skill-title-fast-learning{
  @extend %icon-before;
  &::before{
    background-image: url('/assets/img/brain-icon.png');
  }
}
h4.skill-title-teamworking{
  @extend %icon-before;
  &::before{
    background-image: url('/assets/img/teamwork-icon.png');
  }
}
h4.skill-title-clean-coding{
  @extend %icon-before;
  &::before{
    background-image: url('/assets/img/clean-coding-icon.png');
  }
}
h4.skill-title-problem-solving{
  @extend %icon-before;
  &::before{
    background-image: url('/assets/img/problem-solving-icon.png');
  }
}
#tech-stack-title{
  @extend %icon-before;
  &::before{
    background-image: url('/assets/img/stack-icon.png');
    width: 1.5rem;
  }
}
.icon-tooltip > div{
  background-color: rgba(0, 0, 0, 0.24) !important;
}
.icon{
  aspect-ratio: 1;
  height: 4rem;
  width: auto;
  padding: 0.5rem;
}
#skill-coming-soon{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
  opacity: 0.2;
}
