@import 'main';
:host{
  height: fit-content;
}
#navbar-container{
  .navbar-toggler{
    padding: 0;
  }
  background-color: $body-bg-dark;
  width: 100%;
}
#page-header{
    font-weight: normal;
}
#nav-menu img{
    height: 1rem;
}
.navbar-nav{
    max-height: 12rem;
}
