// Required
@use 'fonts';


$white: #fff;
$marine-blue: #0A192F;
$block-default: #272E56;
$font-color-default: $white;
$indigo: #2E3786;
$custom-gray: #313131;

$primary:       #00E5D8 !default;
$secondary: #FF6285 !default;
$info:          #04AFE5 !default;
$dark:          #0A192F !default;

//dark-mode overrides
$body-color-dark:                   $white !default;
$body-bg-dark:                      $marine-blue !default;
$body-tertiary-bg-dark:             mix($block-default, $marine-blue, 50%) !default;

//required
@import 'node_modules/bootstrap/scss/bootstrap';


[data-bs-theme="dark"] {
  $primary: #00E5D8;
  --bs-primary: #00E5D8;
  --bs-primary-bg-subtle: #00E5D8;
  --bs-primary-bg-subtle-dark: #00E5D8;

  .btn-primary {
    --bs-btn-bg: #00E5D8;
  }

  .navbar-toggler-icon{
    background-image: url('../assets/img/three_line.png')!important;
    background-size: contain;
    padding: 10px;
  }
}
:root{
  --bs-body-font-family: 'Poppins', sans-serif !important;
}
.navbar-toggler{
  border: none;
}
h2.page-title::before{
  content: '> ';
  display: inline;
  position: relative;
  color: $primary;
}
.page-container{
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  display: flex;
}
.primary-container{
  @extend .container;
  @extend .p-4;
  border-radius: 1rem;
  background: #272E56;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  *{
    width: 100%;
  }
}
%icon-before{
  align-items: center;
  display: flex;
  gap: 0.8rem;

  &::before{
    display: inline-block;
    position: relative;
    content: '';
    width: 2.8rem;
    aspect-ratio: 1;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.color-reference{
  @extend %icon-before;
  text-wrap: nowrap;
  &::before{
    width: 1rem;
    border-radius: 50%;
  }
  &.success::before{
    background-color: $success;
  }
  &.danger::before{
    background-color: $danger;
  }
  &.warning::before{
    background-color: $warning;
  }
  &.info::before{
    background-color: $info;
  }
  &.primary::before{
    background-color: $primary;
  }
  &.secondary::before{
    background-color: $secondary;
  }
  &.dark::before{
    background-color: $dark;
  }
  &.indigo::before{
    background-color: $indigo;
  }
  &.dark-gray::before{
    background-color: $custom-gray;
  }
}
.navbar-toggler:focus{
  outline: none;
  box-shadow: none !important;
}

.aligned-container{
  max-width: 1200px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //horizontal-padding depends on screen width
  @include media-breakpoint-only(xxl){
    padding: 0 4rem;
  }
  @include media-breakpoint-only(xl){
    padding: 0 3rem;
  }
  @include media-breakpoint-only(lg){
      padding: 0 2rem;
  }
  @include media-breakpoint-only(md){
      padding: 0 1rem;
  }
  @include media-breakpoint-only(sm){
      padding: 0 0rem;
  }
}
.mdc-tab{
  background-color: transparent;
  *{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
  }
  .mdc-tab-indicator{
    border-radius:  1.5rem 1.5rem 0 0;
    display: none;
  }
  &.mdc-tab--active{
    background-color: $block-default !important;
    border-radius: 1rem 1rem 0 0;
  }
}
.mat-mdc-tab-body-wrapper{
  border-radius: 0 0 1rem 1rem;
}
.mat-mdc-tab-body{
  background-color: $block-default !important;
}
mat-tab-body {
  padding: 1rem;
}
