<div class="container-fluid page-container" id="about-page-container">
  <div class="container d-flex flex-column gap-4">
    <h2 class="page-title">About Me</h2>
    <div class="aligned-container">
        <div id="p-about-me" class="container mx-lg-5">
            <p>I’m 21 years old and I live in Buenos Aires, Argentina.</p>
            <p>With a lot of enthusiasm and a lot to learn, I’m looking for new opportunities to develop my professional career 🚀🚀.</p>
            <p>I’m currently studying <a href="https://www.frba.utn.edu.ar/sistemas/" target="_blank"> Information Systems Engineering at <em>UTN FRBA</em></a> and working as a Software Engineerer in <em>Iquall Networks</em>.</p>
            <p>I have a passion for <mark>math</mark> and <mark>programming</mark>.</p>
            <p>I love <mark>math</mark> because it offers neat and general solutions to a lot of different problems, which may not seem related at first, by connecting them with an innovative idea.</p>
            <p>I love <mark>programming</mark> because it is a powerful tool that allows us to turn tedious and repetitive tasks into the challenge of automating them.</p>
        </div>
    </div>
  </div>
</div>
