<div class="container-fluid page-container" id="education-page-container">
  <div class="container d-flex flex-column gap-4">
    <h2 class="page-title">Education</h2>
    <div class="aligned-container">
      <h3 class="mb-4">Careers</h3>
        <div class="utn-container container mx-lg-5 d-flex flex-column">
          <div class="utn-header w-100">
            <div class="career-title d-flex flex-column mb-4">
              <h3 class="mb-1">Information Systems Engineering</h3>
              <h5>National Technological University</h5>
              <span>Buenos Aires Regional College</span>
              <span><b>March 2021 - Present</b></span>
            </div>
          </div>

          <div class="utn-content">
            <div class="color-reference-container">
              <div class="color-reference-table">
                <span class="color-reference success">Approved</span>
                <span class="color-reference info">On going</span>
                <span class="color-reference indigo">Pending</span>
              </div>
            </div>
            <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" class="subjects-table">
              <mat-tab *ngFor="let level of careerData.subjects" [bodyClass]="'tab-body'" [labelClass]="'utn-tab'" label="Level {{careerData.subjects.indexOf(level) + 1}}">
                <div class="subject-container">
                  <div *ngFor="let subject of level" class="subject {{subject.status}}">{{subject.name}}</div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="courses-container container">
          <h3 class="mb-4">Courses</h3>
          <div class="courses-row container gap-5">
            <div class="row justify-content-center">

              <div class="col-md primary-container course" *ngFor="let course of courses" (click) = "toggleSelectedCourse(course)">
                <h5 class="course-title">{{course.name}}</h5>
                <div class="course-icon">
                  <app-icon  [icon]="course"></app-icon>
                </div>
              </div>

            </div>
          </div>
        </div>
      <app-slide-animator [content]="selectedCourse ? {component: CourseDetailComponent, inputs: {course: this.selectedCourse}} : undefined"/>
    </div>
  </div>
</div>
