<app-navbar></app-navbar>
<div class="container d-flex flex-column" id="main-container">
    <div class="container p-2" id="home-container">
        <div class="row">
            <div class="col-6 d-flex flex-column justify-content-center">
                <div id="home-introduction" class="container d-flex flex-column">
                    <h5>
                        Hi, my name is
                    </h5>
                    <h2>
                            Mateo Bertogliati.
                    </h2>
                    <span>
                            <\Software developer>
                    </span>
                </div>
                
            </div>
            <div class="col-6 d-flex justify-content-center">
                Chau
            </div>
        </div>
    </div>
</div>
