<div class="container p-2 mt-4" id="home-container">
    <div class="row row-gap-5 m-0">
        <div class="col-md d-flex flex-column justify-content-center">
            <div id="home-introduction" class="container d-flex flex-column">
                <h6 class="fw-light">
                    Hi, my name is
                </h6>
                <h1 class="fw-semibold">
                    Mateo Bertogliati.
                </h1>
                <span>
                    <\Software developer>
                </span>
                <br>
                <div id="home-footer" class="d-flex justify-content-between">
                    <div id="social-media-icons" class="d-flex flex-row">
                        <a data-bs-toggle="tooltip" data-bs-title="Default tooltip" href="https://www.linkedin.com/in/mbertogliati"><img class src="assets/img/linkedin.png" alt=""></a>
                        <a href="https://github.com/mbertogliati"><img src="assets/img/github.png" alt=""></a>
                        <a href="https://www.instagram.com/matuu_eb/"><img src="assets/img/instagram.png" alt=""></a>
                    </div>
                    <a id="home-cv" class="fw-semibold" href="#">Download CV</a>
                </div>
            </div>

        </div>
        <div id="me" class="col d-flex justify-content-center">
                <img src="assets/img/me.png" alt="">
        </div>
    </div>
</div>
