<div class="container-fluid page-container" id="projects-page-container">
  <div class="container d-flex flex-column gap-4">
    <h2 class="page-title">Projects</h2>
    <div class="aligned-container d-flex flex-column g-4 justify-content-center align-content-center w-100 flex-wrap">
      <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" class="subjects-table" [style]="{width: '100%'}">
        <mat-tab *ngFor="let title of getProjectKeys()" [bodyClass]="'project-body'" [labelClass]="'project-tab'" label="{{title}}">
          <div ngbAccordion *ngFor="let project of projectsData[title]" class="overflow-hidden">
            <div ngbAccordionItem [style]="{border:'none'}" class="header-container">
              <h2 ngbAccordionHeader>
                <button ngbAccordionButton class="accordion-button shadow-none">{{project.name}}</button>
              </h2>
              <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                  <ng-template>
                    <div>
                      <p [innerHTML]="project.description"></p>
                      <span *ngIf="project.repositoryURL">Repository: <a href="{{project.repositoryURL}}" target="_blank">{{project.repositoryURL}}</a></span>
                    </div>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
