@import "main";
img{
  aspect-ratio: 1;
  height: auto;
  width: 100%;
}
.img-container{
  padding: 0 35%;
  @include media-breakpoint-down(lg) {
    padding: 0 20%;
  }
}
span{
  text-align: center;
  opacity: 0.2;
  font-size: 1.5rem;
}

