@import "main";
img{
  aspect-ratio: 1;
  height: auto;
  width: 100%;
}
.img-container{
  padding: 0 35%;
  @include media-breakpoint-down(lg) {
    padding: 0 20%;
  }
}
.accordion-button{
  background-color: $indigo;
  border-radius: 0.5rem !important;
  &:not(.collapsed){
    background-color: lighten($indigo, 15%);
    color: $white;
  }
}
.header-container{
  background-color: inherit;
  margin-bottom: 1rem;
}
