<div id="animation-container" [style]="getContainerStyle()">
  <div id="current-skill-wrapper" #selectedSkillDetail [@detail-slide-in] = "this.getAnimationState()">
    <ng-container *ngComponentOutlet="currentContent?.component || null;
                                        inputs: currentContent?.inputs">
    </ng-container>
  </div>
</div>
<div class="previously-selected-skill">
    <ng-container *ngComponentOutlet="previousContent?.component || null;
                                    inputs: previousContent?.inputs">
    </ng-container>
</div>

